{% load staticfiles %}
<!DOCTYPE html>
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'hot/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'hot/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'hot/css/color.css' %}" />
</head>
<body itemscope>
		<section>
			<div class="block gray">
				<div class="container">
					<div class="row">
						<div class="col-md-12 column">
							<div class="gallery-data">
								<section id="options">
									<span>Select Category:</span>
									<div class="option-isotop">
										<ul id="filter" class="option-set filters-nav" data-option-key="filter">
											<li><a href="" class="selected" data-option-value="*">All</a></li>
											<li><a href="" data-option-value=".adventure">Adventure</a></li>
											<li><a href="" data-option-value=".horseriding">Horseback Riding</a></li>
											<li><a href="" data-option-value=".tours">Tours</a></li>
											<li><a href="" data-option-value=".specials">Specials</a></li>
										</ul>
									</div>
								</section><!-- FILTER BUTTONS -->
								<div class="row">
									<div class="gallery gaps masonary lightbox">
										<div class="col-md-4 adventure">
											<div class="gallery-img">
												<img src="http://placehold.it/370x383" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Deluxe Room</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Deluxe Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 horseriding">
											<div class="gallery-img">
												<img src="http://placehold.it/370x383" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Single Room</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Single Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 adventure">
											<div class="gallery-img">
												<img src="http://placehold.it/370x383" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Double Room</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Double Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 adventure">
											<div class="gallery-img">
												<img src="http://placehold.it/370x383" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Honeymoon Suit</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Honeymoon Suit</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 tours">
											<div class="gallery-img">
												<img src="http://placehold.it/370x383" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Volcano Adventure</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Volcano Adventure</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 tours">
											<div class="gallery-img">
												<img src="http://placehold.it/370x383" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Volcano Adventure</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Deluxe Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 tours">
											<div class="gallery-img">
												<img src="images/resource/gallery-image28.jpg" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Single Room</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Single Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 horseriding">
											<div class="gallery-img">
												<img src="images/resource/gallery-image29.jpg" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Double Room</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Double Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
										<div class="col-md-4 specials">
											<div class="gallery-img">
												<img src="images/resource/gallery-image30.jpg" alt="" />
												<div class="gallery-overlay">
													<span>November 10, 2013</span>
													<h5>Deluxe Room</h5>
													<a title="" href="http://placehold.it/1000x800"><img src="images/plus.png" alt="" title="Volcano Adventure" /></a>
												</div>
												<div class="gallery-name">
													<span>November 10, 2013</span>
													<h3>Deluxe Room</h3>
												</div>
											</div><!-- Gallery Image -->
										</div>
									</div>
								</div>
							</div><!-- gallery-data -->	
						</div>
					</div>
				</div>
			</div>
		</section>

	<script src="{% static 'hot/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'hot/js/jquery.isotope.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'hot/js/isotope-initialize.js' %}" type="text/javascript"></script>
	<script src="{% static 'hot/js/script.js' %}" type="text/javascript"></script>

</body>
</html>